@import "global";

.scrollContainer{
//    border: solid $white 1px;
    @include largeText;
    overflow: visible;
    z-index: 10;
}
.contentBox{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
//    border: solid red 1px;
//    text-align: center;
    margin-left: auto;
    h1{
        @include mediumText;
        width: fit-content;
        a{
            color: inherit;
            text-decoration: inherit;
            cursor: none;
        }
    }
    h2{
        @include smallText;
        margin-top: 1vw;
    }
    .titlePage{
        height: 100%;
        &>.container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            padding-top: 20vh;
            &>h1{
                height: 60vh;
                @include largeText;
//                border: solid red 1px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &>h3{
                position: relative;
                @include smallText;
//                border: red 1px solid;
                width: 47vw;
                text-align: right;
                height: 20vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        &>h2{
            width: fit-content;
            text-align: center;
            position: absolute;
//            border: solid white 1px;
            width: 100vh;
            top: 46vh;
            right: -47vh;
            transform: rotate(-90deg);
        }
    }
}