$black: #080808;
$white: #F8F8FF ;
$font: 'Questrial', sans-serif;
$mobileBreak: "420px";

@mixin mobile {
    @media(max-width: $mobileBreak){
        @content;
    }
}

//set fonts
@mixin largeText{
    font-size: 14.8vw;
    letter-spacing: 1.036vw;
    color: $white;
    @include mobile{
        font-size: 20vw;
        letter-spacing: 1.536vw;
    }
}
@mixin mediumText{
    font-size:7.5vw;
    color: $white;
    letter-spacing: .525vw;
    @include mobile{
        font-size: 14vw;
        letter-spacing: 1.036vw;
    }
}
@mixin smallText{
    font-size: 1.8vw;
    color: $white;
    letter-spacing: .126vw;
    @include mobile{
        font-size: 4vw;
        letter-spacing: .369vw;
    }
}

html{
    background-color: $black;

}
body{
    cursor: none;
    background-color: $black !important;
    color: $white;
    font-family: $font;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
}

//set mobile and desktop views
.desktopView{
    @include mobile{
        display: none;
    }
}
.mobileView{
    display: none;
    @include mobile{
        display: block;
    }
}