$black: #080808;
$white: #F8F8FF ;
$font: 'Questrial', sans-serif;

@mixin largeText{
    font-size: 14.8vw;
    letter-spacing: 1.036vw;
    color: $white;
}
@mixin mediumText{
    font-size:7.5vw;
    color: $white;
    letter-spacing: .525vw;
}
@mixin smallText{
    font-size: 1.8vw;
    color: $white;
    letter-spacing: .126vw;
}
body{
    cursor: none;
    background-color: $black;
    color: $white;
    font-family: $font;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
}