@import "global";

.introContainer{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: $black;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        @include mediumText;
        width: 100%;
        text-align: center;
        margin-bottom: 5vh;
    }
    p{
        @include smallText;
        width: 100%;
        text-align: center;
        padding: 0 15%;
        margin-bottom: 5vh;
        @include mobile{
            line-height: 120%;
        }
        &>span{
            position: relative;
//            padding: 20px 0;
            height: 100%;
            .border{
                position: absolute;
                height: .08vw;
                width: calc(2px + 12.4vw);
                background-color: $white;
                bottom: 0px;
                right: inherit;
                left: -2px;
                opacity: 1;
                overflow: hidden;
                &>span{
                    height: 1.82vw;
                    position: absolute;
                    color: $black;
                    width: 12.77vw;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    transform: translateY(-.88vw);
                }
                @include mobile{
                    height: .6vw;
                    bottom: calc(.6vw + 18px);
                }
            }
        }
    }
}