@import "global";

.mobileItemContainer{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        @include largeText;
        width: 90%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    h2{
        @include mediumText;
        width: 90%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    h3{
        margin-top: 2vh;
        @include smallText;
        width: 90%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    .link{
        text-decoration: underline;
    }
}