@import 'global';

.sideNav{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .hire{
        @include smallText;
        height: 20vh;
        padding: 1vw;
        &>div{
//            border: solid white 1px;
            height: fit-content;
            width: fit-content;
        }
    }
}